.label-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.lightLabel {
  width: 4in;
  height: 2in;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  background-color: #fffefe;
  border: 1px solid #b4b2b2;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.label-header {
  display: flex;
  justify-content: space-between;
  font-size: 50%;
  width: 100%;
}

.label-header > div {
  flex: 1;
  text-align: center;
  font-weight: bold;
  color: #333;
}

.locationKey {
  background-color: yellow;
}

.header-divider {
  border-bottom: 1px solid #000000;
}

.fixture-details {
  background-color: yellow;
  color: #000000;
  text-align: center;
  padding: 1px;
  margin: 0;
  flex: 1;
}

.fixtureTypeValue {
  text-align: center;
  text-decoration: underline;
}
.fixtureNumberValue {
  text-align: center;
  font-weight: bolder;
}

.details {
  display: flex;
  justify-content: space-between;
  flex: 1;
  width: 100%;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  color: #000000;
}

.details > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  width: 30%;
}

.details p {
  margin: 0;
  font-size: 11px;
}

.notesSection {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.notesKey {
  font-weight: bolder;
  color: #333;
  font-size: 11px;
}

.notesValue {
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 11px;
  hyphens: auto;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
}
